# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [10]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [11]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [13]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [14]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [15]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [16]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [17]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [18]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [19]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [20]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [21]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [22]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [23]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [24]:
data.duplicated().sum()

71

In [25]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [26]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [27]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [28]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [29]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [30]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [52]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#data['children'].value_counts() # сколько заемщиков сколько имеют детей
#data['debt'].value_counts() # сколько заемщиков имеют просроченные и не просроченные кредиты
#data.groupby('children')['debt'].sum() # сколько заемщиков имеют просрочки по кредитам (по количеству детей)

# количество детей по группам и количество просрочек в каждой группе:
children_grouped = data.groupby('children').agg({'debt':['count', 'sum']})

def category_count(category, debt):
    total = category / debt
    return total

children_count = data.groupby('children')['debt'].sum()
children_debt = data.groupby('children')['debt'].count()

result_children = category_count(children_count, children_debt)
result_children

children
0    0.075438
1    0.092346
2    0.094542
3    0.081818
4    0.097561
5    0.000000
Name: debt, dtype: float64

In [90]:
data_pivot = data.pivot_table(index='children', values='debt', aggfunc=('mean', lambda debt: debt.count(), lambda debt: debt.sum()))
data_pivot

          <lambda_0>  <lambda_1>      mean
children
0            14091.0      1063.0  0.075438
1             4808.0       444.0  0.092346
2             2052.0       194.0  0.094542
3              330.0        27.0  0.081818
4               41.0         4.0  0.097561
5                9.0         0.0  0.000000

In [55]:
children_grouped['debt_share'] = result_children
children_grouped

           debt       debt_share
          count   sum
children
0         14091  1063   0.075438
1          4808   444   0.092346
2          2052   194   0.094542
3           330    27   0.081818
4            41     4   0.097561
5             9     0   0.000000

**Вывод:** 
Большая часть заемщиков не имеет детей. В целом доля просроченных кредитов невелика: 1732 против 19599.
Из полученных данных следует, что наибольшая доля просрочки по кредитам приходится на группы людей имеющих от 1 до 4 детей. Причем, чем больше количество детей, тем выше доля, с исключением - 3 ребенка. Самые ответственные - бездетные заемщики. В категории 5 детей совсем нет просрочки, но в нее входят всего 9 человек.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [57]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#data['family_status'].value_counts() # количество заемщиков по семейному положению
#data.groupby('family_status')['debt'].sum() # сколько заемщиков имеют просрочки по кредитам (по семейному положению)

# семейное положение по группам и количество просрочек в каждой группе:
family_grouped = data.groupby('family_status').agg({'debt':['count', 'sum']})

family_count = data.groupby('family_status')['debt'].sum()
family_debt = data.groupby('family_status')['debt'].count()

result_family = category_count(family_count, family_debt)
result_family

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
Name: debt, dtype: float64

In [93]:
data_pivot = data.pivot_table(index='family_status', values='debt', aggfunc=('mean', lambda debt: debt.count(), lambda debt: debt.sum()))
data_pivot

                       <lambda_0>  <lambda_1>      mean
family_status
Не женат / не замужем      2796.0       273.0  0.097639
в разводе                  1189.0        84.0  0.070648
вдовец / вдова              951.0        63.0  0.066246
гражданский брак           4134.0       385.0  0.093130
женат / замужем           12261.0       927.0  0.075606

In [59]:
family_grouped['debt_share'] = result_family
family_grouped

                        debt      debt_share
                       count  sum
family_status
Не женат / не замужем   2796  273   0.097639
в разводе               1189   84   0.070648
вдовец / вдова           951   63   0.066246
гражданский брак        4134  385   0.093130
женат / замужем        12261  927   0.075606

**Вывод:** 
Большая часть заемщиков женаты/замужем или в гражданском браке. На них же приходится основное количество просроченных кредитов, в силу большого размера самой категории.
Тем не менее, наибольшая доля просроченных кредитов приходится на неженатых/незамужних заемщиков. Так же выделяется категория "гражданский брак".
Из полученных данных видно, что люди, которые официально оформили свои отношения (даже если эти отношения по каким-то причинам прекратили свое существование) более ответственно подходят к вопросу выплаты долгов.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [62]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#data['total_income_category'].value_counts() # количество заемщиков по уровню дохода
#data.groupby('total_income_category')['debt'].sum() # сколько заемщиков имеют просрочки по кредитам (по уровню дохода)

# уровень дохода по группам и количество просрочек в каждой группе:
income_grouped = data.groupby('total_income_category').agg({'debt':['count', 'sum']})

income_count = data.groupby('total_income_category')['debt'].sum()
income_debt = data.groupby('total_income_category')['debt'].count()

result_income = category_count(income_count, income_debt)
result_income

total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
Name: debt, dtype: float64

In [94]:
data_pivot = data.pivot_table(index='total_income_category', values='debt', aggfunc=('mean', lambda debt: debt.count(), lambda debt: debt.sum()))
data_pivot

                       <lambda_0>  <lambda_1>      mean
total_income_category
A                            25.0         2.0  0.080000
B                          5014.0       354.0  0.070602
C                         15921.0      1353.0  0.084982
D                           349.0        21.0  0.060172
E                            22.0         2.0  0.090909

In [95]:
income_grouped['debt_share'] = result_income
income_grouped

                        debt       debt_share
                       count   sum
total_income_category
A                         25     2   0.080000
B                       5014   354   0.070602
C                      15921  1353   0.084982
D                        349    21   0.060172
E                         22     2   0.090909

**Вывод:**
Ранее мы разделили людей по разному уровню дохода и создали для этого отдельную колонку 'total_income_category':
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

Посчитаем количество людей в каждой категории.
Наибольщее количество заемщиков в категории C и B. На них же приходится основное количество долгов. В то же время, нельзя сказать, что они как-то выделятся по доле просрочек. Скорее показывают какой-то средний результат. 
Соответственно, можно сделать вывод, что уровень дохода в меньшей степени влияет на просрочку кредита.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [34]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#data['purpose_category'].value_counts() # количество заемщиков по категориям трат
#data.groupby('purpose_category')['debt'].sum() # сколько заемщиков имеют просрочки по кредитам (по уровню дохода)

# уровень дохода по группам и количество просрочек в каждой группе:
purpose_grouped = data.groupby('purpose_category').agg({'debt':['count', 'sum']})

purpose_count = data.groupby('purpose_category')['debt'].sum()
purpose_debt = data.groupby('purpose_category')['debt'].count()

result_purpose = category_count(purpose_count, purpose_debt)
result_purpose

purpose_category
операции с автомобилем      0.093480
операции с недвижимостью    0.072551
получение образования       0.092528
проведение свадьбы          0.079118
Name: debt, dtype: float64

In [96]:
data_pivot = data.pivot_table(index='purpose_category', values='debt', aggfunc=('mean', lambda debt: debt.count(), lambda debt: debt.sum()))
data_pivot

                          <lambda_0>  <lambda_1>      mean
purpose_category
операции с автомобилем        4279.0       400.0  0.093480
операции с недвижимостью     10751.0       780.0  0.072551
получение образования         3988.0       369.0  0.092528
проведение свадьбы            2313.0       183.0  0.079118

In [77]:
purpose_grouped['purpose_category'] = result_purpose
purpose_grouped

                           debt      purpose_category
                          count  sum
purpose_category
операции с автомобилем     4279  400         0.093480
операции с недвижимостью  10751  780         0.072551
получение образования      3988  369         0.092528
проведение свадьбы         2313  183         0.079118

**Вывод:** 

Ранее мы также разделили сгруппировали цели кредита по четырем категориям в столбец 'purpose_category'. Как мы видим, в основном люди берут долги на операции с недвижимостью. На нее же, ожидаемо, приходится основное количество просрочек. Но на эту категорию, а также на свадьбы, приходится наименьшая доля просроченных долгов. Больше всего проблем у долгов на прокупку автомобилей и получение образования.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Пропуски были в двух категориях - суммарные рабочие дни и суммарный доход. Причина может быть в том, что некоторые люди не работают/никогда не работали (по каким-либо причинам), а также ничего не зарабатывают, а только тратят (например, за счет родственников).

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*
Например, в нашем случае в данных присутствовали люди, зарабатывающие более 2 млн. Их немного, они определенно повлияли бы на общий результат.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

Мы провели общий анализ надежности заемщиков по различным категориям.

Для этого мы обработали данные изначальной таблицы - нашли и заполнили пропуски в значениях, разбили данные по доходам и целям кредита в группы.

Из итоговых данных можно сделать вывод, что возврат кредита зависит от семейного положения, количества детей в семье, уровня дохода и целей кредита.

С ростом количества детей растет доля просроченных кредитов. При этом люди официально оформившие брак, ответственнее относятся к обязательствам перед банком.

В таблице наиболее полно представлены категории людей с доходами 50001–200000 (группа C) и 200001–1000000 (группа B). Люди из категории B значительно лучше выплачивают долги по кредитам. Данных про остальные группы доходов недостаточно, чтобы сделать какие-то сравнимые выводы.

И, наконец, если целью кредита является недвижимость или свадьба, то вероятность, что его вернут в срок выше, чем у кредитов на учебу или автомобили. Сложно сказать, есть ли тут какая-то связь с ранее сделанным выводом о семейном положении.

Таким образом, наиболее ответственными заемщиками являются люди без детей, но состоящие в официальных отношениях с доходом 200 001 – 1 000 000, и берущие кредит на покупку недвижимости.

Вероятность того, что кредит будет просрочен, выше у человека с детьми (чем выше их количество, тем выше вероятность просрочки, с исключением - три ребенка), который никак не узаконил свои отношения, включая гражданский брак, относится к более низкой категории доходов (50001–200000), а также берет кредиты на покупку автомобиля или получение образования.